%img#portrait{:src => "images/noelani-home.jpg", :alt => "Noelani Sallings"}

%p
  = q_sans_whitespace do
    Noelani has worked with me on several community projects.  She is type of
    person you can give a job to and not have to worry if it will get done.
    She is dedicated, hard working and intelligent.  She is a real asset to
    our community.

%p
  %cite
    == &mdash; Andrew Ratermann, Vice President, Santa Clara Unified School District#{sup_dagger}

%p
  = q_sans_whitespace do
    Noelani brings a new creative energy to problem-solving within the
    Santa Clara Unified School District. I have seen how much she cares
    about our kids and know she will work very hard and effectively to foster
    an environment where our students will be even more successful.

%p
  %cite
    == &mdash; Teresa O'Neill, Former Trustee, Santa Clara Unified School District#{sup_dagger}

%p
  = q_sans_whitespace do
    Noelani has a true understanding of community needs and will
    contribute greatly to the partnership between the School District
    and the City.

%p
  %cite
    == &mdash; Jamie McLeod, Councilwoman, City of Santa Clara#{sup_dagger}

%p.otherquotes= link_to 'What others are saying...', :controller => 'quotes'

%p.sup-descr
  == #{sup_dagger}Titles for identification purposes only
