<%= javascript_include_tag :defaults %>

<h1>Endorsements</h1>

<% @lists.each do |el| %>
  <h2><%= el.title %></h2>

  <ul id="endorsements_<%= el.id %>">
    <% el.endorsements.each do |e| %>
      <li id="endorsement_<%= e.id %>">
        <%= e.name %> &mdash; <%= e.title.gsub(/\r?\n/, "<br/>\n") %>
        <%= link_to_remote(tag("img", {:src => '/images/trash.gif', :class => 'trash', :alt => '[delete]'}),
              :url => { :action => 'delete', :id => e.id, :format => 'js' }) %>
      </li>
    <% end %>
  </ul>

  <% form_for :endorsement, :url => { :action => :add } do |f| %>
    <fieldset>
      <legend>Add an Endorsement</legend>
      <div>
        <label for="endorsement_name">Name</label><%= f.text_field :name %>
      </div>
      <div>
        <label for="endorsement_title">Title</label><%= f.text_area :title, :cols => 40, :rows => 5 %>
      </div>
      <div>
        <%= f.hidden_field :endorsement_list_id, :value => el.id %>
        <input type="submit" value="Add"/>
      </div>
    </fieldset>
  <% end %>

  <%= sortable_element "endorsements_#{el.id}", :url => { :action => "sort", :id => el, :format => 'js' } %>
<% end %>