<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
  Copyright (c) 1999-2006  Noelani Sallings <noelani@sallings.org>
  -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/application.css"/>
    <title><%= @page_title %></title>
	</head>

	<body>

		<div id="navbar" class="darkbox">
			<div id="navbartitle">Noelani Sallings</div>
			for Santa Clara Unified School District Board of
			Education
			<ul>
				<li><%= link_to 'Home', home_path %></li>
				<li><%= link_to 'Qualifications', :controller => 'qualifications' %></li>
				<li><%= link_to 'Endorsements', :controller => 'endorsements' %></li>
				<li><%= link_to 'Donate', :controller => 'donation' %></li>
				<li><%= link_to 'Events', :controller => 'events' %></li>
				<li><%= link_to 'News', :controller => 'news' %></li>
				<li><%= link_to 'Thanks!', :controller => 'thankyou' %></li>
			</ul>
		</div>

		<div id="maincontent"><%= yield %></div>

		<p id="footer">
			Copyright &copy; 2006  Noelani Sallings FPPC #1291137. Site designed, created and maintained by Noelani Sallings. 
		</p>
		<script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
		<script type="text/javascript">
		_uacct = "UA-679821-1";
		urchinTracker();
		</script>
	</body>
</html>