!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title= @page_title
    = stylesheet_link_tag 'application.css', :media => 'screen, projection'
    = stylesheet_link_tag 'application-print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'application-ie.css', :media => 'screen, projection'

  / Copyright (c) 1999-2008  Noelani Sallings <noelani@sallings.org>

  %body
    #navbar
      #navbartitle Noelani Sallings
      #navbarsub for SCUSD Board of Education

      %ul
        %li= link_to 'Home', home_path
        %li= link_to 'About', :controller => '/about'
        %li= link_to 'Qualifications', :controller => '/qualifications'
        %li= link_to 'Endorsements', :controller => '/endorsements'
        %li= link_to 'Contribute', :controller => '/donation'
        %li= link_to 'Blog', :controller => '/blog'

    #maincontent= yield

    #footer
      Copyright &copy; 2006-2008  Noelani Sallings FPPC #1302548.
      Site designed, created and maintained by Friends of Noelani Sallings.

    %script{:src => "http://www.google-analytics.com/urchin.js", :type => "text/javascript"}
    %script{:type => "text/javascript"}
      _uacct = "UA-679821-1";
      urchinTracker();